<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./style.sass")
    link(href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet")
    script(src="./main.ts")
    title Doonooch Dance
  body
    div(class="container")
      img(src="../assets/dancing_man.png" class="logo")
      div(class="content light")
        i Aboriginal and Torres Strait Islander viewers are advised that this website may contain images and voices of people who have died.
      div(class="divider")
      div(class="content dark")
        h1 DOONOOCH DANCE COMPANY
      div(class="content light")
        p For bookings and inquiries,
        p
          | Email:
          |
          a(href="mailto:jingrala@gmail.com") jingrala@gmail.com
          |
        p
          | Phone:
          |
          a(href="tel:+61423493221") (+61) 0423493221
      div(class="content dark")
        div(class="row")
          img(src="../assets/over_sydney.jpg")
          img(src="../assets/canberra.jpg")
        p The Doonooch Dance Company is a unique and revered traditional Aboriginal dance company.
        p Doonooch Dance company was founded by revered elder Uncle Bobby McLeod in the 1990s and has performed all over the world. In 2000, the Doonooch Dancers were part of the Olympic Games Opening Ceremony. Over the years they have performed countless festivals, toured the USA and Canada, danced across Europe and have performed for the Pope.
        p Doonooch Dance Company is the original dance company founded by humanitarian, activist, artist, musician, poet and revered elder Uncle Bobby McLeod.
        p Uncle Bobby McLeod was the Director of The Doonooch Dance Company until his passing.
        p Uncle Bobby McLeod established crucial health programs for Aboriginal men and youth which recognised protecting sacred culture as the touchstone of community well-being.

      div(class="content light")
        div(class="row")
          img(src="../assets/tulabah.jpg")
          div
            p Andrew McLeod is presently the Director of The Doonooch Dance Company and Doonooch related projects.
            p For Bookings and Inquiries,
            p Contact:
            p Andrew McLeod
            p The Doonooch Dance Company
            p
              | email:
              |
              a(href="mailto:jingrala@gmail.com") jingrala@gmail.com
            p
              | mobile:
              |
              a(href="tel:+61423493221") (+61) 0423493221
        div(class="content row")
          a(href="https://www.facebook.com/doonooch" class="social") Doonooch Facebook
          img(src="../assets/dancing_man.png" class="logo large")
          a(href="https://www.instagram.com/doonooch/" class="social") Doonooch Instagram
      div(class="divider")
      div(class="content light")
        p Contact The Doonooch Dance Company:
        p
          | Email:
          |
          a(href="mailto:jingrala@gmail.com") jingrala@gmail.com
        p
          | Phone:
          |
          a(href="tel:+61423493221") (+61) 0423493221
      div(class="content dark")
        p All content displayed on this site remains the property of The Doonooch Dance company and collaborators. Site content must not be reproduced without written legal consent.
        p
          | Contact
          |
          a(href="mailto:jingrala@gmail.com") jingrala@gmail.com
          |
          | for further information.




